html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --azulEscuro: #09142f;
    --azulMarinho: #1b2469;
    --rosa: #d91ef7;
    --roxo: #4a006c;
    --preto: #000000;
    --branco: #ffffff;
    --roxoClaro: #9905FB;
}

.roxo {
    color: var(--roxoClaro);
}

.agora {
    font-weight: 800;
}

/*||||||||||||||||||||||||||||| MENU |||||||||||||||||||||||||||||||*/

.menu {
    background: linear-gradient(to right bottom, var(--azulMarinho), var(--roxo));
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.menu img {
    height: 100%;
    width: 100px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.menu ul li {
    list-style-type: none;

}

.menu ul li a {
    text-decoration: none;
    color: var(--branco);
}

/* ||||||||||| INDEX |||||||||||||||||||*/

/* ||||||||||||||||||||||||||| HOME |||||||||||||||||||||||||*/


#home {
    /* height: calc(100vh - 70px); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--preto);
}

#home .texto-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
}

#home .texto-container h1 {
    font-size: 50px;
    color: var(--branco);
}

#home .texto-container p {
    font-size: 20px;
    color: var(--branco);
    max-width: 400px;
    margin-top: 10px;
}

#home .texto-container button {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid var(--branco);
    font-size: 16px;
    color: var(--branco);
    margin-top: 40px;
}

#home .img-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#home .img-container img {
    width: 80%;
}

/* |||||||||||||||||||||||| SOBRE |||||||||||||||||||||||*/

#sobre {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--preto), var(--azulEscuro));
}

#sobre .img-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre .img-container img {
    width: 90%;
    max-width: 400px;
}

#sobre .texto-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10%;
}

#sobre .texto-container h1 {
    font-size: 40px;
    color: var(--branco);
}

#sobre .texto-container p {
    color: var(--branco);
    max-width: 500px;
    margin-top: 10px;
    font-size: 18px;
}

/*|||||||||||||||||||||| encontrar |||||||||||||||||||||||||||||| */

#encontrar {
    height: 600px;
    width: 100%;
    background: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#encontrar h2 {
    font-size: 40px;
    color: var(--azulEscuro);
    margin-bottom: 30px;
}

#encontrar .encontrar-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
}

#encontrar .box-encontrar {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, var(--azulEscuro), var(--azulMarinho));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    box-shadow: 0 0 20px var(--preto);
    padding: 10px;

}

#encontrar .box-encontrar:hover {
    transition: .2s;
    box-shadow: 0 0 25px var(--azulEscuro);
}

#encontrar .box-encontrar img {
    height: 60px;
}

#encontrar .box-encontrar h4 {
    color: var(--rosa);
    margin: 15px 0;
}

#encontrar .box-encontrar p {
    text-align: center;
    color: var(--branco);
    font-size: 16px;
}

/* ||||||||||||||||||||||||||| Contato ||||||||||||||||||||||||||||| */

#contato {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--azulEscuro);
}

#contato .astronauta-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contato .astronauta-container img:nth-of-type(1) {
    width: 80%;
    max-width: 400px;
}

#contato .astronauta-container img:nth-of-type(2) {
    width: 60%;
    max-width: 300px;
}

#contato .formulario-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contato .formulario-container h2 {
    color: var(--branco);
    font-size: 40px;
}

#contato .formulario-container p {
    font-size: 16px;
    color: var(--branco);
    margin: 10px 0 20px 0;
    text-align: center;
}

form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input,textarea {
    height: 35px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    margin: 10px 0;
    outline: none;
}

form textarea {
    height: 100px;
    padding-top: 10px;
    resize: none;
}

form button {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: var(--branco);
    font-weight: 600;
    margin: 10px;
    background: linear-gradient(to bottom, var(--rosa), var(--roxo));
}

/* ||||||||||||||||||||||||||||| footer |||||||||||||||||||||||||| */

footer {
    height: 50px;
    width: 100%;
    background: linear-gradient(to top right, var(--azulEscuro), var(--azulEscuro));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}

/* |||||||||||||||||||||||||||| BIOGRAFIA ||||||||||||||||||||||| */
























/* |||||||||||||||||||||||||||| CADASTRO ||||||||||||||||||||||| */

#cadastro {
     /* height: calc(100vh - 70px); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right bottom, var(--preto), var(--azulEscuro));
    color: var(--branco);
}

#cadastro a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
}

#cadastro .cadastro-container {
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 20px var(--roxoClaro);
    margin: 60px 0 0 0;
    /* background: var(--preto); */
}


#cadastro .cadastro-container button {
    background: transparent;
    color: var(--branco);
    border: 2px solid var(--branco);
    border-radius: 10px;
    height: 30px;
    width: 180px;
    margin: 10px 0 50px 0;
}

#cadastro .cadastro-container img {
    height: 100%;
    width: 50%;
    border-radius: 0 5px 5px 0;
}
#cadastro .cadastro-container button:hover {
    background: linear-gradient(to left bottom, var(--roxoClaro), var(--azulMarinho));
    cursor: pointer;
    font-weight: 600;
    border: 3px solid linear-gradient(to left bottom, var(--roxoClaro), var(--azulMarinho));
    font-size: 14px;
}


#cadastro .cadastro-container .box-cadastro {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--roxoClaro), var(--roxo));
    border-radius: 5px 0 0 5px ;
}

#cadastro .cadastro-container .box-cadastro input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    padding: 0 0 0 6px;
}

#cadastro .cadastro-container .box-cadastro h2 {
    margin: 0 0 30px 0 ;
}


/* |||||||||||||||||||||||||||| LOGIN ||||||||||||||||||||||| */

#login {
     /* height: calc(100vh - 70px); */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right bottom, var(--preto), var(--azulEscuro));
    color: var(--branco);
}

#login a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
}

#login .login-container {
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--roxo);
    border-radius: 6px;
    box-shadow: 0 0 15px var(--roxoClaro);
    margin: 60px 0 0 0;
    /* background: var(--preto); */
}


#login .login-container img {
    height: 100%;
    width: 50%;
    border-radius: 0 5px 5px 0;
}


#login .login-container .box-login {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--roxoClaro), var(--roxo));
    border-radius: 5px 0 0 5px ;
    padding: 0 0 10px 0;
    
}
#login .login-container .box-login button {
    background: transparent;
    color: var(--branco);
    border: 2px solid var(--branco);
    border-radius: 10px;
    height: 30px;
    width: 180px;
    margin: 0 0 20px 0;
}

#login .login-container .box-login button:hover {
    background: linear-gradient(to left bottom, var(--roxoClaro), var(--azulMarinho));
    cursor: pointer;
    font-weight: 600;
    border: 3px solid linear-gradient(to left bottom, var(--roxoClaro), var(--azulMarinho));
    font-size: 14px;
}

#login .login-container .box-login h1 {
    margin: 50px 0;
} 

#login .login-container .box-login input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    padding: 0 0 0 6px;
}